@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="/css/estilosProyectPasant.css" asp-append-version="true" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
   
 <!-- Header donde estara nuestra barra de desplazamiento,logo(Delimitdo a un espacio determinado) y el titulo -->
   <div class="header_estilo">
   <header>
    <div>
    <img src="logo2.jpg" id="logo" >
  </div>
  <h1 class="titulo">Logros en los VideoJuegos</h1>
  <div class="botones">
    <!--Aca estara nuestros botones para movernos entre las paginas-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-danger">1</button>
        <button type="button" class="btn btn-danger">2</button>
        <button type="button" class="btn btn-danger">3</button>
        <button type="button" class="btn btn-danger">4</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-danger">5</button>
        <button type="button" class="btn btn-danger">6</button>
        <button type="button" class="btn btn-danger">7</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-danger">8</button>
      </div>
    </div>
  </div>

</div>
  
</header>
</div>
</head>
<body >
  <!-- Estara hubicado en la seccion izquierda y estara compuesta por "Tarjetas" -->
  <div class="card1" style="width: 18rem;">
    <img src="fondojuego.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card2" style="width: 18rem;">
    <img src="fondojuego.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
 
  
   

<!--Dentro de este div estara el contenido principal delimitado al lado derecho-->
  <div class="contenido "> 

   <p></p>
 
   </div>

  
</div>


</body>

</html>